
*{
    box-sizing: border-box;
 
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url('gplay.png');
    background-size:auto;

} 

header.container {
    background:#055260;
    color: #fff;
    padding: 0px 0;
    font-family: Arial, sans-serif;
    /* text-align: center; */
}
nav.container {
    background:#055260;
    color: #fff;
    padding: 0 0;
    font-family: Arial, sans-serif;
    font-size: 15px;
    /* text-align: center; */
}
main.container {
    background: #edeeee;
    /* color: #fff; */
    padding: 0px 0;
    font-family: Arial, sans-serif;
    /* text-align: center; */
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    display:flex;
    align-items:center;
 }
 .title{
    text-align:center;
    margin: 0 30px;
}


.logo{
    max-height: 150px;
    margin-right: 20px; 
}


 header h1{
    margin: 0;
    font-size: 38px;
    font-weight: bold;
    font-family: 'UnifrakturCook', cursive;
} 

header p{
    margin: 0;
    font-size: 20px;
} 

nav ul {
    list-style: none;
    margin: 16px;
    padding: 10px;
    display: flex;
}

nav ul li {
    position: relative;
    margin-right: 33px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration:#0c556d;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #275a8f; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    display: block;
}

.dropdown-content a:hover {
    background-color: #3f7aa9;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* #banner {
    background: #f4f4f4;
    padding: 50px 0;
    text-align: center;
}

#banner h2 {
    margin-bottom: 20px;
}

#about {
    padding: 50px 0;
    background: #e9e9e9;
    text-align: center;
} */

.containerBox {
    display: flex;
      justify-content: space-between;
      align-items: center;
      height: 480px ;
    padding:0px 10px;
    margin:20px 10px;

  }
  .left-column {
    width: 24%;
    padding: 20px;
    margin-right: 10px;
    margin-bottom:11px ;
    height: 476px;

  }
  .right-column {
    width: 86%;
    padding: 16px;
    height: 481px;
    margin-right: 7px;

  }
  .upper-text {
    height: 50%;
    margin-bottom: 13px;
    font-size: 11px;
    color: #edeeee;
    background-image: url("text-background.jpg");
    background-size:cover;
    padding: 8px 12px;
    overflow: auto;
}
  .lower-text {
    height: 50%;
    font-size: 11px;
    color: #edeeee;
    background-image: url("text-background.jpg");
    background-size:cover;
    padding: 8px 12px;
    overflow: auto;
}
  .image {
    width: 100%;
    height: 100%;
    object-fit: auto;
  }
  h2 {
    margin-top: 0;
    color: rgb(251, 188, 87)
  }

  
  footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 20px;
} 